body {
    background-image: url('demo_day_images/background.png');
    background-size: 100%;
    background-repeat: none;
    background-attachment: scroll;
    color: white;
    text-align: center;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px 25px 50px;
  font-size: "200px";
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color:gold;
  font-weight: 600;
  font-size: 30px;
  transition: color 0.3s;
}

nav a:hover {
  color: gold;
}


@media (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  nav ul {
      margin-top: 10px;
  }

  nav ul li {
      margin: 5px 0;
  }
} 

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 20px;
  width: 400px;
  height: 600px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px;
}

.team-member img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}
.team-member p {
  margin-top: 50px;
  font-size: 30px;
}

h1{
  color: black;
  font-size: 150%;
}

h3{
  color: black
}