body {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    font-size: "200px";
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:gold;
    font-weight: 600;
    font-size: 30px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: gold;
  }
  
  
  @media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
  
    nav ul {
        margin-top: 10px;
    }
  
    nav ul li {
        margin: 5px 0;
    }
  } 
  


/* contact.css */
/* Center the entire form and adjust its width */
.row {
    display: flex;
    justify-content: center;
}

.col-md-9 {
    width: 60%; /* Adjust this width as needed */
}

/* Center the form within the column */
#contact-form {
    margin: auto;
}

/* Center the text in the "Send" button */
.text-center.text-md-left .btn-primary {
    display: block;
    margin: 0 auto;
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5vh; /* This ensures the content is centered vertically */
}

.form-check {
    margin: 10px 0;
}
